src/main/resources/wsdl/DataStoreProvider201901.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DataStoreProvider201901" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsp:Policy wsu:Id="BasicHttpBinding_IDataStoreProvider2019011_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict/>
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="https://datastore.ceidg.gov.pl/CEIDG.DataStore/services/DataStoreProvider201901.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
			<xsd:import schemaLocation="https://datastore.ceidg.gov.pl/CEIDG.DataStore/services/DataStoreProvider201901.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="https://datastore.ceidg.gov.pl/CEIDG.DataStore/services/DataStoreProvider201901.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IDataStoreProvider201901_GetID_InputMessage">
		<wsdl:part name="parameters" element="tns:GetID"/>
	</wsdl:message>
	<wsdl:message name="IDataStoreProvider201901_GetID_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetIDResponse"/>
	</wsdl:message>
	<wsdl:message name="IDataStoreProvider201901_GetMigrationData201901_InputMessage">
		<wsdl:part name="parameters" element="tns:GetMigrationData201901"/>
	</wsdl:message>
	<wsdl:message name="IDataStoreProvider201901_GetMigrationData201901_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetMigrationData201901Response"/>
	</wsdl:message>
	<wsdl:portType name="IDataStoreProvider201901">
		<wsdl:operation name="GetID">
			<wsdl:input wsaw:Action="http://tempuri.org/IDataStoreProvider201901/GetID" message="tns:IDataStoreProvider201901_GetID_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IDataStoreProvider201901/GetIDResponse" message="tns:IDataStoreProvider201901_GetID_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetMigrationData201901">
			<wsdl:input wsaw:Action="http://tempuri.org/IDataStoreProvider201901/GetMigrationData201901" message="tns:IDataStoreProvider201901_GetMigrationData201901_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IDataStoreProvider201901/GetMigrationData201901Response" message="tns:IDataStoreProvider201901_GetMigrationData201901_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IDataStoreProvider201901" type="tns:IDataStoreProvider201901">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetID">
			<soap:operation soapAction="http://tempuri.org/IDataStoreProvider201901/GetID" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMigrationData201901">
			<soap:operation soapAction="http://tempuri.org/IDataStoreProvider201901/GetMigrationData201901" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BasicHttpBinding_IDataStoreProvider2019011" type="tns:IDataStoreProvider201901">
		<wsp:PolicyReference URI="#BasicHttpBinding_IDataStoreProvider2019011_policy"/>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetID">
			<soap:operation soapAction="http://tempuri.org/IDataStoreProvider201901/GetID" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMigrationData201901">
			<soap:operation soapAction="http://tempuri.org/IDataStoreProvider201901/GetMigrationData201901" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DataStoreProvider201901">
		<wsdl:port name="BasicHttpBinding_IDataStoreProvider201901" binding="tns:BasicHttpBinding_IDataStoreProvider201901">
			<soap:address location="http://datastore.ceidg.gov.pl/CEIDG.DataStore/services/DataStoreProvider201901.svc"/>
		</wsdl:port>
		<wsdl:port name="BasicHttpBinding_IDataStoreProvider2019011" binding="tns:BasicHttpBinding_IDataStoreProvider2019011">
			<soap:address location="https://datastore.ceidg.gov.pl/CEIDG.DataStore/services/DataStoreProvider201901.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>